// color
$bg-red-color: rgba(228, 3, 59, 0.1);
$bg-green-color: rgba(57, 205, 98, 0.1);
$bg-yellow-color: rgba(233, 178, 0, 0.1);
$bg-gray-white: #fbfbfb;
$white-color: #fff;
$btn-green: #39cdcc;
$red-color: #e4033b;
$gray-color: #545f7d;
$green-color: #39cd62;
$yellow-color: #e9b200;
$dark-blue-color: #213f7d;
$gray-blue: rgba(33, 63, 125, 0.16);

// Responsive
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;
$xxl: 1400px;

// $breakpoints: (
//   small: 30em,
//   medium: 45em,
//   large: 65em,
// );
