@import "../../sass/index.scss";
.notfound_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mini_container {
  width: 30%;
  height: 60%;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg_container {
  width: 100%;
  height: 80%;
}
.svg {
  width: 100%;
  height: 100%;
}

.description {
  width: 70%;
  color: $dark-blue-color;
}
